In [1]:
import sqlite3
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline

In [2]:
sqlite3.connect("phonebook.db")

In [3]:
conn = sqlite3.connect("phonebook.db")

In [4]:
conn.cursor()

In [5]:
cur = conn.cursor()

In [6]:
query = "SELECT nombre FROM coworkers;"
cur.execute(query)

In [7]:
cur.fetchall()

[('Han Solo',),
 ('Leia Skywalker',),
 ('Luke Skywalker',),
 ('Obi-Wan Kenobi',),
 ('Anakin Skywalker',),
 ('Jabba The Hutt',),
 ('Greedo',),
 ('R2D2',),
 ('C3PO',)]

In [8]:
query2 = "SELECT nombre FROM coworkers WHERE título = 'Princess';"
cur.execute(query2)
cur.fetchall()

[('Leia Skywalker',)]

In [9]:
query3 = "SELECT nombre FROM coworkers WHERE título = 'Princess' OR título = 'Debt Collector';"
cur.execute(query3)
cur.fetchall()

[('Leia Skywalker',), ('Greedo',)]

In [10]:
query4 = "SELECT nombre, número FROM coworkers WHERE título = 'Jedi';"
cur.execute(query4)
cur.fetchall()

[('Luke Skywalker', 5558963267.0), ('Obi-Wan Kenobi', 5558963276.0)]

In [11]:
query5 = "SELECT nombre FROM coworkers WHERE título LIKE '%Droid%';"
cur.execute(query5)
cur.fetchall()

[('R2D2',), ('C3PO',)]